footer{
    display: flex;
    height: 70px;
    margin-top: 60vh;
    background-color: black;
    align-items: center;
    justify-content: center;

}
.txt-footer{
    display: block;
    color: white;
    text-align: center;
}