.form__jornalista{
    padding: 1rem;
}
.title__create{
    text-align: center;
    padding: 1rem;
}
.label-form{
    font-size: 1.1rem;
    font-weight: bold;
}
.form__control-jor{
    padding: .5rem;
    margin: .5rem;
}
.btn-edit{
    margin: 1.5rem 0 !important;
}

