.modal{

    margin: 0 auto;
    max-width: 80rem;
    display: flex;
    box-sizing:border-box ;
}

.modal__home{
    display: flex;
    padding: 2rem 2rem;
    
}
.modal__princial{
    position: relative;
}
.modal__link-principal{
    color: white;
    text-decoration: none;
}
.modal__texts{
   
 
    display: inline-block;
    position: absolute;
    left: 10%;
    bottom: 5%;
    width: 80%;
    
}
.img__principal{
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    width: 570px;
    height: 620px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}
.img__principal:hover{
    -webkit-transform:scale(1.03);
    transform:scale(1.03);
}
.modal__principal-title{
    font-size:40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-shadow: 0 1px 3px rgb(0 0 0 / 80%);
}
.modal__principal-text{
    text-shadow: 0 1px 3px rgb(0 0 0 / 80%);
    font-size: 1.2rem;
}
.modal__link-secundario{
    height:305px;
    color: white;
    text-decoration: none;
  
}
.modal__secundario{

 margin: 0 10px;
 position: relative;
  
}

.img-sencundario{
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    width: 570px;
    height:300px;
    border-radius: 10px;
    
}
.img-sencundario:hover{
    -webkit-transform:scale(1.03);
    transform:scale(1.03);
    width: 570px;
}
.modal__texts-secundario{
   
    display: inline-block;
    position: absolute;
    left: 9%;
    bottom: 5%;
    width: 80%;
}
.modal__link-terceiro{
    height:300px;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    padding: 0 5px;
 
    
}

.img-terciario{
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    width: 570px;
    height:300px;
    border-radius: 10px;
}
.img-terciario:hover{
    -webkit-transform:scale(1.03);
    transform:scale(1.03);
}



.modal__terciario-title{
    font-size:40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-shadow: 0 1px 3px rgb(0 0 0 / 80%);
}
.modal__terceiro{
    position: relative;
    margin: 0 10px;
}
.modal__terciario-text{
    display: inline-block;
    position: absolute;
    left: 10%;
    bottom: 5%;
    width: 80%;
}